@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: hsl(240, 38%, 20%);
  background: white url(./images/pattern-curve.svg) no-repeat bottom left;
  background-size: 70%;
  background-attachment: fixed;
  overflow-x: hidden;
}

#main-container {  
  max-height: 100vh;
  padding: 0 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#slider-image {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 4rem 0;
  background: url(./images/pattern-bg.svg) no-repeat 50% 50%;  
  background-size: contain;
}

#hero-img {
  width: 100%;
  max-width: 75%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 50px 50px -50px hsl(240, 38%, 20%);  
  transition: opacity 0.3s, transform 0.3s;
}

#slider {
  position: absolute;
  bottom: 3rem;  
  display: flex;
}

#prev, #next {
  min-width: 2.5rem;
  width: 50%;
  background-color: white;
  border: none; 
  padding: 0.6rem 0;
  cursor: pointer;  
  outline: none;
}

#prev:focus-visible, #next:focus-visible {
  box-shadow: inset 0 0.1rem 0.5rem hsl(240, 38%, 20%);  
  outline: 1px solid hsl(240, 38%, 20%);  
}

#prev:hover, #next:hover {
  box-shadow: inset 0 0.1rem 0.5rem hsl(240, 38%, 20%);
}

#prev {
  border-radius: 2rem 0 0 2rem;
}

#next {
  border-radius: 0 2rem 2rem 0;
}

#prev > svg, #next > svg {
  transform: scale(0.8);
  pointer-events: none;
}

#prev:hover > svg, #next:hover > svg {  
  transform: scale(0.9);
}

#prev:hover > svg > path, #next:hover > svg > path{
  stroke: hsl(240, 38%, 20%);
}

#testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  
}

#text {
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding: 3vh 0 1vh 0;
  background: url(./images/pattern-quotes.svg) no-repeat 50% 0%;
  background-size: 4rem;
  transition: opacity 0.3s, transform 0.3s;
}

#person {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding-top: 3vh;
  
}

#name {
  font-weight: 700;
  transition: opacity 0.3s, transform 0.3s;
}

#job {
  color: hsl(240, 18%, 77%);
  font-weight: 500;
  transition: opacity 0.3s, transform 0.3s;
}
.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.5rem;
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 60%;
  }

  #main-container {
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  #slider-image {
    flex: 1.4;
  }

  #slider {
    left: 10rem;
  }

  #prev, #next {
    min-width: 3.5rem;
    padding: 1rem 0;
  }

  #prev > svg, #next > svg {
    transform: scale(1);
  }

  #prev:hover > svg, #next:hover > svg {  
    transform: scale(1.2);
  }

  #testimonial {
    flex: 1;
    position: relative;
  }

  #testimonial-container {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);    
    width: 125%;
    align-items: flex-start;
  }

  #text {
    font-size: 2rem;
    text-align: left;
  }

  #person {
    flex-direction: row;   
    font-size: 1.3rem;
    padding: 0 0.5rem;
  }

  #job {
    padding-left: 0.5rem;
  }

  .attribution {    
    font-size: 0.7rem;
  }
}

.transition-class {
  transform: translateX(-50vw);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.transition-last {
  transform: translateX(50vw);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
